<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/submain.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container_wrap">
        <!-- header -->
        <div class="header_menu">
          <div>logo</div>
          <div class="header_menu_left">
            <div class="login_style"><img class="imageStyle" src="./Img/login.png" alt="login" id="login"></div>
            <div class="login_style"><img class="imageStyle" src="./Img/shopping_cart.png" alt="shopping_cart" id="shop"></div>
          </div>
        </div>
        <!-- main -->
        <div class="container_main">
        </div>
      </div>
</body>
<script src="/JS/submain.js"></script>
</html>